version: 2.1

orbs:
  node: circleci/node@5.2.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:20.10
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Lint
          command: npm run lint
      - run:
          name: Type check
          command: npm run type-check
      - run:
          name: Test
          command: npm test
      - run:
          name: Build
          command: npm run build

workflows:
  version: 2
  build-test:
    jobs:
      - build-and-test:
          filters:
            branches:
              only:
                - main
                - develop
