name: Docs Links

on:
  push:
  pull_request:

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check links
        uses: lycheeverse/lychee-action@v1
        with:
          args: --no-progress --require-https '**/*.md'
      - name: Upload link results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: docs-link-check
          path: ./lychee/lychee-out.md
