name: Web CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  sample-project-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies (sample-project)
        working-directory: ./sample-project
        run: npm ci

      - name: Build (sample-project)
        working-directory: ./sample-project
        run: npm run build --silent

